@CHARSET "ISO-8859-1";

body {
	background-color: #F0F0F0;
}

h1 {
    font-family:Arial;
    text-align:center;
}

#container {
	width:70%;
	margin:auto;
}


table {
    font-family: Helvetica, sans-serif;
    /*width: 100%;*/
    border-collapse: collapse;
}


table td, table th {
    font-size: 1em;
    border: 1px solid black;
    padding: 3px 7px 2px 7px;
    width: 300px;
}


table th {
    font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #F0F0F0;
    color: black;
}

table td {
	background-color: white;
}

.sel {
	width:95%;
	margin:auto;
}

#pulsanti{
	position: relative;
	top:30px;
	left:300px;	
}

.button {	
	width:150px;
}

.buttonEd {	
	width:150px;
	position:relative;
	top:30px;
}

input[type="text"] {
	width:300px;
}

editor td, editor th {
    border:none;
}
